.movie {
  width: 100%;
  height: 271px;
  box-sizing: border-box;
  background: #FDFDFD;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .08);
  margin: 0;
  padding: 0;
}

.movie__picture {
  display: block;
  object-fit: cover;
  object-position: center;
  overflow: clip;
  width: 100%;
  height: 203px;
}

.movie__header {
  display: flex;
  justify-content: space-between;
  padding: 7px 14px 0 14px;
  margin: 0;
}

.movie__title {
  font-weight: 500;
  font-size: 15px;
  line-height: normal;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie__duration {
  font-weight: 400;
  font-size: 11px;
  line-height: normal;
  color: #A0A0A0;
  margin: 5px 0 12px 14px;

}

.movie__like {
  background-image: url(../../images/like.svg);
  width: 30px;
  height: 30px;
  border: none;
  top: 13px;
  position: relative;
  background-color: transparent;
}

.movie__like_active {
  background-image: url(../../images/like_active.svg);
  display: block;
}

.movie__remove {
  background-image: url(../../images/delete_card.svg);
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: 14px;
  position: relative;
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  .movie__picture {
    height: 190px;
  }

  .movie {
    max-height: 258px;
  }
}

@media screen and (max-width: 550px) {
  .movie {
    max-height: 236px;
  }

  .movie__picture {
    height: 168px;
  }

  .movie__header {
    padding: 7px 6px 6px 14px;
  }

  .movie__duration {
    font-size: 11px;
    line-height: normal;
    margin-top: 0px;
  }

  .movie__title {
    font-size: 15px;
    line-height: normal;
  }

  .movie__like {
    margin-right: 10px;
  }

  .movie__remove {
    margin-right: 10px;
  }
}
