.profile {
  max-width: 410px;
  margin: 0 auto;
  padding: 70px 0 70px 0;
  display: flex;
  flex-direction: column;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-bottom: 123px;
  margin: 0;
}

.profile__form {
  width: 410px;
}

.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
  transition: border-bottom-color .3s linear;
}

.profile__label:last-of-type {
  border-bottom-color: transparent;
  padding-top: 17px;
}

.profile__label:focus-within {
  border-bottom-color: #3456F3;
}

.profile__input {
  box-sizing: border-box;
  border: none;
  text-align: end;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #000;
  flex-grow: 1;
  border-bottom: 1px solid transparent;
}

.profile__input:disabled {
  background-color: transparent;
}

.profile__input:invalid {
  color: #ff4062;
}

.profile__input:focus {
  outline: none;
}

.profile__input-error {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.profile__error {
  color: #FF004C;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  display: inline-block;
  margin: 169px 0 0;
}


.profile__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  outline: none;
}

.profile__button_type_submit {
  display: block;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  background-color: #2BE080;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  min-height: 13px;
  margin: 20px 0 16px 0;
  transition: all .3s linear;
}

.profile__button_type_submit:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.profile__button_type_change {
  margin: 202px 0 16px 0;
}

.profile__button_type_logout {
  color: #ee3465;
  font-weight: 500;
}

.profile__button-link {
  text-decoration: none;
  color: #ff4062;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 1100px) {
  .profile {
    padding: 236px 0 269px 0;
  }

  .profile__title {
    padding-bottom: 96px;
  }

  .profile__button_type_change {
    margin: 190px 0 16px 0;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    max-width: 260px;
    padding: 55px 0 40px 0;
  }

  .profile__title {
    padding-bottom: 80px;
  }

  .profile__form {
    width: 260px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__button_type_change {
    margin: 360px 0 16px 0;
  }

  .profile__button-link {
    font-size: 12px;
    line-height: 15px;
  }
}
