.app {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 320px;
  background-color: #fff;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}
